@using TestCase.Infrastructure.Data;
@{
    var units = ViewData["units"] as List<Unit>;
    var plans = ViewData["plans"] as List<Plan>;
}
<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li><a href='@Url.Action("Privacy","Home")'>首页</a></li>
            <li><a href='@Url.Action("Index","_Unit")'>集合</a></li>
        </ol>
    </div>
</div>
<div class="box">
    <div class="page-header">
        <div class="box-name">
            <i class="fa  fa-building-o"></i>
            <span>集合列表</span>
        </div>
        <div class="row">
            <div class="col-8 col-sm-4 ">
                <form id="search" action="@Url.Action("Index","_Unit")" method="post">
                    <input type="text" name="unname" placeholder="按标题查找" onclick="enterSearch()" />
                    <i class="fa fa-search"></i>
                </form>
            </div>
            <div class="col-xs-2 pull-right develop">
                <a class="btn btn-info btn-link" style="color:black;" onclick="ab()">
                    <i class="fa fa-plus-square-o"></i>新建&nbsp;
                </a>
            </div>

        </div>
        <div class="no-move"></div>
    </div>

    <div class="box-content no-padding table-responsive ">
        <div>
            <table class="table table-bordered  table-hover  table-datatable" id="datatable-case">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>标题</th>
                        <th>所属计划</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <!--列表内容-->
                <tbody>
                    @for (int i = units.Count-1; i >=0 ; i--)
                    {
                        <tr>
                            <th>@units[i].Unid</th>
                            <th>
                                <a class="btn-link" href="/_Unit/Detail?unid=@units[i].Unid">
                                    @units[i].UnName
                                </a>
                            </th>
                            <th>@units[i].Pname </th>
                            <th class="develop">
                                <a class=" btn-dark btn-link" id="@units[i].Unid" href="@Url.Action("Index","_Case")?unid=@units[i].Unid">
                                    <i class="fa fa-barcode" style="color:#0094ff">查看用例</i>
                                </a>&nbsp;
                                <a class=" btn-dark btn-link del" id="@units[i].Unid" name="pid" onclick="confDel(@units[i].Unid)">
                                    <i class="fa   fa-times-circle-o  " onclick="" style="color:rgba(255, 69, 0, 0.90)">删除</i>
                                </a>
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
        <!-- 底部分页-->
        <div class="">
            <div class="col-sm-6">
                <div class="dataTables_info" id="datatable-2_info"></div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="dataTables_paginate paging_bootstrap">
                    <ul class="pagination">
                        <li class="prev disabled"><a href="#">← 上一页</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a> </li>
                        <li><a href="#">3</a></li>
                        <li class="next"><a href="#">下一页 → </a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--遮罩-->
<div>
    <div class="mask" id="mask" style=" z-index:99999;width: 100%;height: 100%; position: fixed;top: 0; left: 0;display: none;background-color: rgba(0, 0, 0, 0.6);">
        <!-- 添加 的弹窗-->
        <div class="add" id="add" style=" width: 65%;  background-color: #fff;  margin: 100px auto;">
            <div class="panel">
                <div class="text-center" style="color:black;">
                    <h4> 添加</h4>
                </div>
                <div class="panel-body ">
                    <div class="form">
                        <form class="form-horizontal col-xs-12" id="create" method="post" action="@Url.Action("Create","_Unit")" novalidate="novalidate">
                            <div class="form-group col-xs-12">
                                <label class="control-label" name="">标题</label>
                                <input type="text" class="form-control" name="unname" />
                                <label class="control-label">所属计划</label>
                                <select class="populate placeholder changeState form-control" name="pid">
                                    @for (int i = 0; i < plans.Count; i++)
                                    {
                                        <option value="@plans[i].Pid">@plans[i].Pname</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-xs-12">
                                <label class="control-label">集合说明</label>
                                <textarea class="form-control" name="unstorage" style="height:300px;"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-offset-4 ">
                                    <button class="btn btn-default btn-link col-xs-3 " id="cancel"><span><i class="fa fa-times-circle-o"></i></span> 取消</button>
                                    <button class="btn btn-success btn-link col-xs-3" style="color:dimgray;" type="submit"><span><i class="fa fa-check-circle"></i></span> 提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/popWindow.js"></script>
<script src="~/base.js"></script>
<script type="text/javascript">
    function confDel(id) {
        if (confirm("确认删除？")) {
            window.location.href = '/_Unit/Del?unid=' + id;
        }
    };
</script>


