@using TestCase.Infrastructure.Data
@model Plan
@{
    var plan = Model;
}
<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#">首页</a></li>
            <li><a href="#">计划</a></li>
            <li><a href="#">详情</a></li>
        </ol>
    </div>
</div>

<div class="row" >
    <div class="col-xs-12">
        <div class="box ui-draggable " style="background-color:whitesmoke;">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-linux"></i>
                    <span>用例详情</span>
                </div>
                <div class="box-icons">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="expand-link">
                        <i class="fa fa-expand"></i>
                    </a>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content">
                <form class="col-xs-10 " action="@Url.Action("Update","_Plan")" method="post" id="update">
                    <div class="form-group col-xs-8">
                        <label class="control-label">编号</label>
                        <input type="hidden" class="form-control" value="@plan.Pid" name="pid" />
                        <input type="text" class="form-control" value="@plan.Pid" disabled />
                        <label class="control-label" name="">标题</label>
                        <input type="text" class="form-control" name="pname" value="@plan.Pname" />
                        <label class="control-label">所属项目</label>
                        <input type="text" class="form-control" name="" />
                    </div>
                    <div class="col-xs-2 text-left form-group">
                        <label class="control-label">预期用时</label>
                        <input type="number" class="form-control" name="pretime" value="@plan.Pretime" />
                        <label class="control-label">实际用时</label>
                        <input type="number" class="form-control" name="realtime" value="@plan.Realtime"/>
                        <label class="control-label">状态</label>
                        <input type="text" class="form-control" name="state" value="@plan.State" />
                    </div>
                    <div class="form-group col-xs-10">
                        <label class="control-label">计划内容</label>
                        <textarea class="form-control" name="pstorage" style="height:300px;">@plan.PStorage</textarea>
                    </div>
                </form>
                <div class="clearfix"></div>
                <div class="col-sm-6 col-sm-offset-3">
                    <br />
                    <div class="btn-group-justified">
                        <a class="btn btn-default btn-link" id="cancel"><span><i class="fa fa-times-circle-o"></i></span> 取消</a>
                        <a class="btn btn-success btn-link" style="color:dimgray;" onclick="toUpdate()"><span><i class="fa fa-check-circle"></i></span> 提交</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/base.js"></script>