@using TestCase.Infrastructure.Data;
@{
    var plans = ViewData["plans"] as List<Plan>;
}
<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#">首页</a></li>
            <li><a href="#">计划</a></li>
        </ol>
    </div>
</div>
<div class="page-feed">
    <div class="page-header">
        <div class="box-name">
            <i class="fa  fa-building-o"></i>
            <span>计划列表</span>
        </div>
        <div class="row">
            <div class="col-8 col-sm-4 col-xs-offset-1">
                <form id="search" action="@Url.Action("Index","_Plan")" method="post">
                    <input type="text" name="pname" placeholder="按标题查找" onclick="enterSearch()"/>
                    <i class="fa fa-search" ></i>
                </form>
            </div>
            <div class="col-xs-2 pull-right">
                <a class="btn btn-info btn-link" style="color:black;" onclick="ab()">
                    <i class="fa fa-plus-square-o"></i> 新建&nbsp;
                </a>
                &nbsp;
                <div class="btn-group">
                    <a class="btn btn-default" href="#"><i class="fa fa-th-large fa-fw"></i> 批量</a>
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="fa fa-caret-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#" class=""><i class="fa fa-trash-o fa-fw"></i> 删除</a></li>
                        <li><a href="#"><i class="fa fa-ban fa-fw"></i> 禁用</a></li>
                    </ul>
                </div>
            </div>

          </div>
            <div class="no-move"></div>
        </div>
   
    <div class="page-feed-content no-padding table-responsive ">
        <div>
            <table class="table table-bordered  table-hover  table-datatable" id="datatable-case">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>标题</th>
                        @*<th>创建者</th>*@
                        <th>所属项目</th>
                        <th>操作</th>
                        <th>
                            <label>
                                <input type="checkbox" name="acceptTerms" onclick="All(this)" />全选
                            </label>
                        </th>
                    </tr>
                </thead>
                <!--列表内容-->
                <tbody>
                    @for (int i = 0; i < plans.Count; i++)
                    {
                        <tr>
                            <th>@plans[i].Pid</th>
                            <th>
                                <a class="btn-link" href="/_Plan/Detail?pid=@plans[i].Pid">
                                    @plans[i].Pname
                                 </a>
                            </th>
                            <th>@plans[i].Proid </th>
                            <th>
                                <a class=" btn-dark btn-link" id="@plans[i].Pid" href="#">
                                    <i class="fa fa-barcode" style="color:#0094ff">查看用例</i>
                                </a>&nbsp;
                                <a class=" btn-dark btn-link del" id="@plans[i].Pid" name="pid" onclick="confDel(@plans[i].Pid)">
                                    <i class="fa   fa-times-circle-o  " onclick="" style="color:rgba(255, 69, 0, 0.90)">删除</i>
                                </a>
                            </th>
                            <th>
                                <label>
                                    <input type="checkbox" name="checkbox-1" />
                                </label>
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
        <!-- 底部分页-->
        <div class="">
            <div class="col-sm-6">
                <div class="dataTables_info" id="datatable-2_info"></div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="dataTables_paginate paging_bootstrap">
                    <ul class="pagination">
                        <li class="prev disabled"><a href="#">← 上一页</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a> </li>
                        <li><a href="#">3</a></li>
                        <li class="next"><a href="#">下一页 → </a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--遮罩-->
<div >
    <div class="mask" id="mask" style=" z-index:99999;width: 100%;height: 100%; position: fixed;top: 0; left: 0;display: none;background-color: rgba(0, 0, 0, 0.6);">
       <!-- 添加 的弹窗-->
        <div class="add" id="add" style=" width: 45%;  background-color: #fff;  margin: 150px auto;">
            <div class="panel">
                <div class="text-center" style="color:black;">
                    <h4 >添加</h4>
                </div>
                <div class="panel-body">
                    <div class="form">
                        <form class="form-horizontal" id="feedback_form" method="get" action="@Url.Action("AddPlan","_Plan")" novalidate="novalidate">
                            <div class="form-group ">
                                <label  class="control-label col-lg-2">计划标题 <span class="required">*</span></label>
                                <div class="col-lg-10">
                                    <input class="form-control " name="pname" minlength="5" type="text" required="">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="control-label col-lg-2">计划内容 <span class="required">*</span></label>
                                <div class="col-lg-10">
                                    <input class="form-control " name="pstorage" required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    @*<button class="btn btn-default btn-link" id="cancel"><span><i class="fa fa-times-circle-o"></i></span> 取消</button>*@
                                    <button  class="btn btn-success btn-link" style="color:dimgray;" type="submit"><span><i class="fa fa-check-circle"></i></span> 提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
        <!--详情的弹窗-->
        <div id="show" class="showDetail">
        
        </div>
    </div>
</div>
<script src="~/popWindow.js"></script>
<script src="~/base.js"></script>
<script type="text/javascript">
    function confDel(id) {
        if (confirm("确认删除？")) {
            window.location.href = '/_Plan/Del?pid=' + id;
        }
    }
</script>
