@using TestCase.Infrastructure.Data
@model ForCase
@{
    var detail = Model;
    var units = ViewData["units"] as List<Unit>;
    var plans = ViewData["plans"] as List<Plan>;
    var projects = ViewData["projects"] as List<Project>;
    var relatons = ViewData["relations"] as List<Userrelation>;
}
<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li><a  href='@Url.Action("Privacy","Home")'>首页</a></li>
            <li><a href='@Url.Action("Index","_Case")'>用例</a></li>
            <li><a href="#">详情</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box ui-draggable ">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-linux"></i>
                    <span>用例详情</span>
                </div>
                <div class="box-icons">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="expand-link">
                        <i class="fa fa-expand"></i>
                    </a>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content">
                <form class="col-xs-12 " action="@Url.Action("Update","_Case")" method="post" id="update">
                    <div class="form-group col-xs-9">
                        <label class="control-label">编号</label>
                        <input type="hidden" class="form-control" value="@detail.Cid" name="cid" />
                        <input type="text" class="form-control" value="@detail.Cid" disabled />
                        <label class="control-label">标题</label>
                        <input type="text" class="form-control" value="@detail.Ctitle" name="ctitle" />
                        <label class="control-label">前置条件</label>
                        <textarea class="form-control" style="height:100px;" name="previous">@detail.Previous</textarea>
                        <label class="control-label">执行步骤</label>
                        <textarea class="form-control" style="height:100px;" name="detail">@detail.Detail</textarea>
                        <label class="control-label">预期结果</label>
                        <textarea class="form-control" style="height:100px;" name="prior">@detail.Prior</textarea>
                        <label class="control-label">执行结果</label>
                        <textarea class="form-control updateResult" style="height:100px;" value="@detail.Result" name="result" readonly></textarea>
                    </div>
                    <div class="col-xs-3 text-left form-group">
                        <label class="control-label">所属项目</label>
                        <select class="populate placeholder changeState form-control" name="proid">
                            <option value="@detail.Proid">@detail.Proname</option>
                            @for (int i = 0; i < projects.Count; i++)
                            {
                                <option value="@projects[i].Proid">@projects[i].Proname</option>
                            }
                        </select>
                        <label class="control-label">所属计划</label>
                        <select class="populate placeholder changeState form-control" name="pid">
                            <option value="@detail.Pid">@detail.Pname</option>
                            @for (int i = 0; i < plans.Count; i++)
                            {
                                <option value="@plans[i].Pid">@plans[i].Pname</option>
                            }
                        </select>
                        <label class="control-label">所属集合</label>
                        <select class="populate placeholder changeState form-control" name="unid">
                            <option value="@detail.Unid">@detail.UnName</option>
                            @for (int i = 0; i < units.Count; i++)
                            {
                                <option value="@units[i].Unid">@units[i].UnName</option>
                            }
                        </select>
                        <label class="control-label">创建者</label>
                        <input readonly class="form-control" name="name" value="@detail.Name"/>
                        <label class="control-label">指派给</label>
                        <select class="populate placeholder changeState form-control" name="uid2">
                            @for (int i = 0; i < relatons.Count; i++)
                            {
                                <option value="@relatons[i].Uid">@relatons[i].Name</option>
                            }
                        </select>
                        <label class="">状态：</label>
                        <select class="populate placeholder changeState" name="state">
                            @if (detail.State == "enable")
                            {
                                <option value="enable">启用</option>
                            }
                            else if (detail.State == "unable")
                            {
                                <option value="unable">失败</option>
                            }
                            else
                            {
                                <option value="closed">关闭</option>
                            }
                        </select>
                        <label class="notice" style="display:none;">注意修改状态！</label>
                        &nbsp; &nbsp;&nbsp;&nbsp;
                        @if (detail.State == "closed")
                        {
                            <a class=" btn-link reset " onclick="reset()">
                                <i class="fa fa-repeat">重新启用</i>
                            </a>
                            <a class=" btn-link editor" onclick="editor()" style="display:none;">
                                <i class="fa fa-youtube-play">执行</i>
                            </a>
                        }
                        else
                        {
                            <br />
                            <button class=" btn-link editor   " onclick="editor()">
                                <i class="fa fa-youtube-play">执行</i>
                            </button>
                        }
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-4 ">
                <a class="btn btn-default btn-link col-xs-3 " href='@Url.Action("Index","_Case")' id="cancel"><span><i class="fa fa-times-circle-o"></i></span> 返回</a>
                <button class="btn btn-success btn-link col-xs-3 develop" style="color:dimgray;" type="submit" onclick="toUpdate()"><span><i class="fa fa-check-circle"></i></span> 提交</button>
            </div>
        </div>
    </div>
</div>
<script src="~/base.js"></script>
<script>
    function reset() {
        if (confirm("确认启用？")) {
            var str = ' <option value="enable">启用</option>'
            jQuery(".changeState").html(str);
            jQuery(".editor").attr("style", "display:block;");
            jQuery(".reset").attr("style", "display:none;");
        }
    }
    function editor() {
        if (confirm("确认执行？")) {
            var str = '<option value="unable">失败</option><option value="closed">关闭</option>'
            jQuery(".updateResult").removeAttr("readonly");
            jQuery(".changeState").html(str);
            jQuery(".notice").attr("style", "display:;color:crimson;");
            jQuery(".editor").attr("style", "display:none;");
        }
    }
</script>